<!DOCTYPE html>
<html lang = "en-ru">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale = 1.0">    
    <title>Закрытая страница кококо</title>
    <link rel = "stylesheet" href = "static/style.css">
</head>
<body>
    <header>
        <nav> 
            <a href = "/"> Главная </a>
        </nav>
    </header>
    <h1> Дверь в тайную комнату. Если вы не Гарри Поттер, прошу удалиться отсюда. ra9, мироходец, растет сосна </h1>
    <img src = "https://kartinki.pics/uploads/posts/2022-03/1646933186_23-kartinkin-net-p-kapibara-kartinki-23.jpg">
</body>
</html>