<!DOCTYPE html>
<html lang = 'en-ru'>
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale = 1.0">    
    <title> Регистрация </title>
    <link rel = "stylesheet" href = "static/style.css">
</head>
<body>
    <a href = "/"> Регистрация </a>
    <a href = "/login"> Вход </a>
    <h1> Регистрация </h1>
    <form method = "POST" class = "form-register"> 
        <p> Имя: <input names = "name" type = "text" required></p>
        <p> Возраст: <input names = "old" type = "number" required></p>
        <p> Город: <input names = "city" type = "text" required></p>
        <p> Email: <input names = "email" type = "email" required></p>
        <p> Пароль: <input names = "password" type = "password" required></p> 
        <p><input type="submit" value="Зарегестрироваться"></p>
    </form>
</body>
</html>